@media screen and (max-width:576px) {
    nav,
    .menu-container ul,
    .gamer-main {
        flex-direction: column;
        gap: 20px;
    }
    .banner-main {
        flex-direction:column-reverse;
        gap: 20px;
    }
    header {
        box-shadow: none;
    }
    .banner-section {
        background:#fff;
    }
    .banner-img {
        text-align: center;
    }
    .banner-content {
        background-image: url(../images/banner2.png);
        background-size: 100% ;
        padding: 
        20px;
    }
    .gamer-content,
    .gamer-img {
        width: 100%;
    }
    .gamer-content {
        text-align: center;
    }
    .btn {
        padding: 15px 25px;
    }
    .videos {
        grid-template-columns: 1fr;
        gap: 30px;
      }

}

@media screen and (min-width:576px) and (max-width:960px) {
    nav,
    .menu-container ul,
    .gamer-main {
        flex-direction: column;
        gap: 20px;
    }
    .logo-container {
        width: max-content;
    }
    .banner-main {
        flex-direction:column-reverse;
        gap: 20px;
        width: 100%;
    }
    header {
        box-shadow: none;
    }
    .banner-section {
        background:#fff;
    }
    .banner-img {
        text-align: center;
    }
    .banner-content {
        background-image: url(../images/banner2.png);
        background-size: 100% ;
        padding: 20px;
        width: 80%;
    }
    .gamer-content,
    .gamer-img {
        width: 100%;
      }
      .gamer-content {
        text-align: center;
      }
      .videos {
        grid-template-columns: 1fr;
        gap: 30px;
      }
      .video img {
        margin: auto;
        width: 80%;
      }
}