/* Shared Styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #3c354f;
}
.btn {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  border: 1px solid #ff42a5;
  background-color: #ff42a5;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}
.btn:hover {
  background-color: transparent;
  color: #ff42a5;
}
.btn-blue {
  background-color: #4ec5f7;
  border: 1px solid #4ec5f7;
}
.btn-blue:hover {
  color: #4ec5f7;
}
/* Header styles */
header {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 0px auto;
}
.logo-container {
  display: flex;
  width: 50%;
}

.logo-container img {
  width: 60px;
  object-fit: contain;
  margin-right: 10px;
}
.logo-container h3 {
  font-size: 2rem;
}
.logo-container span {
  color: #ff42a5;
}
.menu-container ul {
  display: flex;
  align-items: center;
}
.menu-container ul li {
  list-style: none;
  margin-right: 20px;
}
.menu-container a,
.menu-container .follow-btn {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.follow-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
}
.follow-btn img {
  width: 25px;
}
.text-bg {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Banner Section Styles */
.banner-section {
  background-image: url(../images/banner2.png);
  background-size: cover;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
.banner-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}
.banner-section h3 {
  color: #3c354f;
  font-size: 2rem;
  font-weight: 600;
}
.banner-section h1 {
  font-size: 5rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -10px;
}
.banner-content p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0px;
}
.banner-content i {
  margin-right: 10px;
}
.banner-img {
  text-align: right;
}
.banner-img img {
  width: 80%;
  height: 80%;
}
/* Gamer Section Styles */
.gamer-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.gamer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 50px 0px;
}
.gamer-content {
  width: 50%;
  margin-left: 20px;
  text-align: right;
}
.gamer-content h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0px;
}
.gamer-content p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
}
.gamer-content h6 {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0px;
}
.gamer-content h5 {
  color: #534c64;
  font-size: 1.7rem;
  font-weight: 700;
}
.gamer-img {
  width: 70%;
}
.gamer-img img {
  width: 100%;
}
/* Video Section Styles */
.video-section {
  text-align: center;
  padding: 50px 0px;
  width: 80%;
  margin: auto;
}
.video-section h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.video-section > p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}
.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}
.videos img {
  width: 100%;
  display: block;
}
.videos > p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
}
.video p {
  margin-top: 20px;
}
.video {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 83%;
  width: 99%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: #000;
  border-radius: 10px;
}
.video:hover .overlay {
  opacity: 0.7;
  border-radius: 10px;
  border: 2px solid #ff42a5;
}
.effect {
  color: #ff42a5;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.effect > i {
  font-size: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
/* Play Section styles */
.play-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
.play-content {
  margin-right: 100px;
  width: 50%;
}
.play-content h3 {
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
}
.play-content p {
  color: #534c64;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 30px;
}
.play-img {
  width: 50%;
  height: 500px;
}
.play-img > img {
  width: 90%;
}
.girl {
  border-radius: 8px;
  color: #fff;
  width: 300px;
  padding: 8px;
  text-align: center;
  position: relative;
  bottom: 200px;
  right: 90px;
}
.girl img {
  width: 200px;
}
/* CTA Section Styles */
.cta-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.cta-main {
  width: 90%;
  margin: 0px auto;
  padding: 80px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.item h3 {
  color: red;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  flex-basis: calc(20% - 1rem);
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  gap: 10px;
  background-color: #ffffff;
  color: #0b0223;
  font-size: 16px;
  font-weight: 600;
}
.item:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
}
.item h3 {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}
/* Footer Section Styles */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  background-color: #0b0223;
}
.footer-logo {
  width: max-content;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 70%;
}
.footer-menu ul {
  display: flex;
}
.footer-menu a {
  color: white;
}
.footer-menu ul li {
  margin-right: 50px;
}
.footer-menu a:hover {
  color: #ff42a5;
}
.social-icons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.left-icons,
.right-icons {
  display: flex;
  gap: 30px;
}
.terms-conatiner {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.terms-conatiner li a:hover {
  color: #ffffff;
}
.copy {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
